---
import NoTransitionsLayout from "@layouts/NoTransitionsLayout.astro";
import LiveEditor from "../components/LiveEditor.astro";

const title = "Live Code Editor for HTML/CSS/JS";
const description =
  "A client-side live code editor for HTML, CSS, and JavaScript, inspired by CodePen.";
---

<NoTransitionsLayout
  title={title}
  description={description}
  image="/experiments/live-editor.webp"
  sideBarActiveItemID="editor"
>
  <main class="p-6 pt-10 flex flex-col gap-6">
    <div>
      <h1 class="text-3xl w-full font-bold mb-5">Live Code Editor</h1>
      <div class="divider my-2"></div>
      <p>
        {description} It uses CodeMirror under the hood. Edits are persisted to local
        storage. Optionally, you can easily export your code to CodePen.
      </p>
      <div class="py-2 text-lg flex flex-wrap gap-2">
        <span class="badge badge-outline">Astro</span>
        <span class="badge badge-outline">TypeScript</span>
      </div>
    </div>
    <LiveEditor
      class="h-[500px]"
      initialHtml="<h1>Hello, World!</h1>"
      initialCss="html { color-scheme: dark;}\nbody { font-family: Arial, sans-serif; }"
      initialJs="console.log('Hello from the code editor!');"
      localStorageKey="editor_code"
      withCodepenButton
    />
    <div class="flex flex-row gap-2">
      <a class="btn btn-neutral btn-outline" href="/editor/fullscreen">
        Go Fullscreen
      </a>
      <a
        class="btn btn-neutral"
        href="https://github.com/itsjavi/itsjavi.github.io/blob/main/src/components/LiveEditor.astro"
        target="_blank"
        rel="noopener noreferrer"
      >
        View code on GitHub
      </a>
    </div>
  </main>
</NoTransitionsLayout>
