---
import HorizontalCard from "../components/HorizontalCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { FlaskConical } from "lucide-astro";
import experiments from "../data/experiments.json";
---

<BaseLayout
  title="Experiments | Javi Aguilar"
  sideBarActiveItemID="experiments"
>
  <div>
    <h1 class="text-3xl w-full font-bold mb-5">
      Experiments <FlaskConical class="inline-block" />
    </h1>
  </div>

  {
    experiments.map((experiment, index) => (
      <>
        <HorizontalCard
          title={experiment.title}
          img={experiment.img}
          desc={experiment.desc}
          url={"/experiments/" + experiment.slug}
        />
        {index < experiments.length - 1 && <div class="divider my-0" />}
      </>
    ))
  }
</BaseLayout>
